FLASK_KEY=<your_flask_secret_key>
FLASK_DEBUG=false
PRODUCTION=true
DB_URI=<your_postgresql_connection_string>
MAILTRAP_USER=<your_mailtrap_username>
MAILTRAP_PASS=<your_mailtrap_password>
MAILTRAP_TO=<recipient_email>
